* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #B0D4B8;
    color: #001c44;
    font-family: 'Poppins', sans-serif;
    min-height: 100vh;
}

header {
    font-size: 1.5rem;

}

header, form {
    min-height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

form input, form button {
    padding: 0.5rem;
    border: none;
    background: #EAE7D6;
    font-size: 2rem;
    outline: none;
}

form button {
    color: #001c44;
    cursor: pointer;
    transition: all 0.3secs ease;
}

form button:hover {
    background: #001c44;
    color: #EAE7D6;
    transition: all 0.3s ease;
}

.todo-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.todo-list {
    min-width: 30%;
    list-style: none;
}

.todo {
    margin: 0.5rem;
    background: #5D7B6F;
    color: #EAE7D6;
    font-size: 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.todo li {
    flex: 1;
}

.delete-btn {
    background: #5D7B6F;
    color: #001c44;
    border: none;
    padding: 0.5rem;
    font-size: 1rem;
    cursor: pointer;
}

.complete-btn {
    background: #EAE7D6;
    color: #001c44;
    padding: 2px;
    font-size: 1rem;
    border-color: #EAE7D6;
    border-radius: 55%;
    margin: 0.5rem;
    cursor: pointer;
    font-weight: 100px;
}

.complete-btn:hover {
    background: #001c44;
    color: #EAE7D6;
    border-color: #001c44;
}

.delete-btn:hover {
    color: #EAE7D6;
}

.fa-trash, .fa-check {
    pointer-events: none;
}

.completed {
    text-decoration: line-through;
    opacity: 0.5;
    transition: all 0.5s cubic-bezier(.55, 0, .1, 1);
}

select {
    appearance: none;
    outline: none;
    border: none;
}

.select {
    margin: 1rem;
    position: relative;
    overflow: hidden;
}

select {
    color:#001c44;
    background-color: #EAE7D6;
    width: 10rem;
    cursor: pointer;
    padding: 1rem;
}

.select::after {
    content: '\25BC';
    position: absolute;
    background: #EAE7D6;
    top: 0;
    right: 0;
    padding: 1rem;
    pointer-events: none;   
    transition: all 0.3s ease;
}

.select:hover::after {
    background: #001c44;
    color: #EAE7D6;
}